<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
            <samedayship>
                <active>1</active>
                <sallowspecific>0</sallowspecific>
                <model>GqRitesh\Assignment\Model\Carrier\Shipping</model>
                <name>Available Shipping Method only in specificcountry</name>
                <price>100.00</price>
                <title>Same day Shipping</title>
                <specificerrmsg>This shipping method is not available. To use this shipping method, please contact us.</specificerrmsg>
                <handling_type>F</handling_type>
            </samedayship>
        </carriers>
        <payment>
            <testpayment>
                <!-- <payment_action>authorize</payment_action>You can use another methor like capture  -->
                <model>GqRitesh\Assignment\Model\PaymentMethod</model>
                <active>1</active>
                <title>Test Payment</title>
                <order_status>pending_payment</order_status><!-- set default order status-->
            </testpayment>
        </payment>
    </default>
</config>